.addInfoLink {
  border: solid 1px black;
  width: 300px;
  display: inline-block;
  margin-right: 120px;

  #lastAddInfoLink {
    margin-right: 0;
  }

  .pic {
    width: 100%;
  }

  .paragraph {

  }

  .link {
    color: skyblue;
    margin-top: 50px;
  }
}

