.dashboard_content {
    //width: 1190px;
    height: 85%;
  background-color: rgba(247, 247, 247, 0.87);
}


.content{
  margin-top: 0px;
  height: 95%;
  border: solid #a9a9a9 1px;
  background-color: white;
  margin-left: 5px;
  margin-right: 5px;
}