.header {
  background-color: #fff !important;
  height: 70px;
  padding-left: 0 !important;

  button {
    width: 0 !important;
    border: none !important;
    padding: 0 !important;
    margin: 0 !important;
  }

  a {
    color: #a0a0a0;
  }

  a:hover {
    color: #a0a0a0;
    text-decoration: none;
  }

  .branding {
    display: inline-block;
    margin-left: 24px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);

    .title {
      float: left;
      color: black !important;
      font-size: 100% !important;
      font-weight: bolder !important;
      font-style: italic !important;
      padding-top: 4px;

    }
    .logo {
      float: left;
      padding: 3px 10px;
      img {
        width: 170px;
      }
    }
  }

  .entrypoint {
    display: inline-block;
    float: right;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    .signin, .signup {
      color: black !important;
      margin: 15px 15px !important;
      span {
        font-size: 18px !important;
      }
    }

    .account-entry {
      button {
        width: 168px !important;
        height: 70px !important;
        .account-icon {
          width: 40px !important;
          height: 40px !important;
          fill: #00bcd4 !important;
        }
      }
    }
  }
}

