.header{
  display: inline-block;
  width: 100%;
  padding: 10px;

  .entrypoint{
    float: right;
    .link{
      padding-right: 35px;
      text-decoration: none;
      color: #4b4b4b;
    }
  }

  .logo{
    float: left;
  }
}
