header {
  background-color: #717171;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99999; }

.header-placeholder {
  top: 0;
  width: 100%;
  height: 70px; }

footer {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #717171;
  width: 100%;
  text-align: center; }

