.listWrap{
 .list{
   padding: 0;
   .item {
     .item-main-title {
       color: #7c7c7c;
       font-size: 17px;
       font-weight: 700;
     }
     .item-content {
       color: #919191;
     }
   }
 }
}