.home_page h1{
  color: #a0a0a0;
}

.content {
  margin-top: 200px;
  text-align: center;
}

.index_page{
  height: 100%;
}

.selfClear{
  clear: both;
}

body {
  background-color: #e5e6e6;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}