 .reasons {
   width: 80%;
   margin: 100px auto;
   h1, h4 {
     color: #4b4b4b;
   }
   .reason-item {
     display: inline-block;
     float: left;
     width: 33.33%;
     padding-right: 10px;
     padding-top: 30px;
     .paragraph {
       color: darkgrey;
     }
   }
 }