.signup-box, .signin-box{
  text-align: center;

  .input{
    width: 250px;
    margin: 0 auto;
    text-align:left;

    p{
      color: black;
      font-size: 20px;
      margin: 0;
      font-weight: lighter;
      padding: 5px 0 0;
    }

    label{
      color: black;
      font-size: 20px;
      margin: 0;
      font-weight: lighter;
      padding: 5px 0 0;
    }

    input{
      width: 250px;
      height: 30px;
      background-color: #efefef;
      border: solid #c6c6c6 1px;
      border-radius:3px;
      margin-bottom: 10px;
    }

    .signup-but, .signin-but{
      width: 80px;
      background-color: black;
      color: white;
      border: solid black;
      font-size: 15px;
      font-weight: lighter;
      margin: 10px 0;
    }

    .other {
      width: 300px;
      height: auto;
      .signin{
        border-right: solid gray;
        border-width: 1px;
        width: 100px;
        margin: 30px 0;
        float: left;
        .signin-but{
          width: 80px;
          background-color: black;
          border: solid black;
          margin: 0;
          padding: 0 10px;
          border-radius:3px;
          li{
            list-style: none;
            a {
              font-size: 15px;
              color: white;
              font-weight: lighter;
            }
          }
        }
      }

      .help{
        float: left;
        margin: 35px 0;
        text-align: left;
        ul {
          padding: 0 10px;
          li {
            list-style: none;
            a {
              color: black;
            }
            font-weight: 200;
          }
        }
      }

      .signup{
        width: 80px;
        margin: 30px 0;
        float: left;

        .signup-but{
          width: 80px;
          background-color: black;
          border: solid black;
          margin: 0;
          padding: 0 10px;
          border-radius:3px;
          li{
            list-style: none;
            a {
              font-size: 15px;
              color: white;
              font-weight: lighter;
            }
          }
        }
      }

      .forget{
        width: 110px;
        float: left;
        margin: 30px 0 0 5px;
        .forget-but {
          background-color: black;
          border: solid black;
          margin: 0;
          padding: 1px 10px;
          border-radius: 3px;
          li {
            list-style: none;
            a {
              font-size: 11px;
              color: white;
              font-weight: lighter;
            }
          }
        }
      }



    }
  }

  .title h1{
    color: black;
    font-weight: bolder;
    font-style:normal;
  }
}

.signin-box .input{
  height: auto;
}

.signup-box .input{
  height: 380px;
}
